.actions {
  display: flex;
  justify-content: space-around;
}

.actions span {
  /* border: 1px solid black;
  padding: 0.25em 0.5em; */
  border-radius: 5px;
}
/*
.actions span:hover {
  border: 1px solid grey;
} */

.card:hover {
  background-color: #CCEEFF;
}

.booksContainer {
  margin: 4em 2em;
}

.completed p{
  text-decoration: line-through;
}

.button {
  padding: 0;
  border: none;
}

.button input {
  margin: 0;
  width: 100%;
  height: 100%;
}

#nav-mobile {
  display: none;
}

#bat {
  height: 28px;
  margin-top: 10px;
}
