.actions {
  display: flex;
  justify-content: space-around;
}

.actions span {
  border: 1px solid black;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

.actions span:hover {
  border: 1px solid grey;
  background-color: lightgrey;
}

.card:hover {
  background-color: #CCEEFF;
}

.booksContainer {
  margin: 4em 2em;
}
